/*---------------------------------------------------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  2.4.0                                 |
|   \\  /    A nd           | Web:      www.OpenFOAM.org                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
Build  : 2.4.0-dcea1e13ff76
Exec   : sample
Date   : May 07 2023
Time   : 08:14:32
Host   : "spartan-bm003.hpc.unimelb.edu.au"
PID    : 78172
Case   : /data/scratch/projects/punim0394/BOR/2.GEP_IN_THE_LOOP/new_EVE3_from_Fabian/BOR_STERN_UVRxy_pop100_gen100_higher_IC/running_pfac150_pop10_seed0/run_00445/PH_2D_RANS_kOmegaSSTx
nProcs : 1
sigFpe : Enabling floating point exception trapping (FOAM_SIGFPE).
fileModificationChecking : Monitoring run-time modified files using timeStampMaster
allowSystemOperations : Allowing user-supplied system call operations

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
Create time

Create mesh for time = 0

Reading set description:
    XoR8.67
    XoR8.92
    XoR9.17
    XoR9.42
    XoR9.67
    XoR9.92
    XoR10.17
    XoR10.42
    XoR10.67
    XoR10.92
    XoR11.17
    XoR11.42
    XoR11.67
    XoR11.92
    XoR12.17

Time = 0
--> FOAM Warning : 
    From function sampledSets::classifyFields()
    in file sampledSet/sampledSets/sampledSetsGrouping.C at line 109
    Cannot find field file matching R

Time = 2000

End

