/*---------------------------------------------------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  2.4.0                                 |
|   \\  /    A nd           | Web:      www.OpenFOAM.org                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
Build  : 2.4.0-dcea1e13ff76
Exec   : sample
Date   : Apr 29 2023
Time   : 18:13:53
Host   : "spartan-bm009.hpc.unimelb.edu.au"
PID    : 106748
Case   : /data/scratch/projects/punim0394/BOR/2.GEP_IN_THE_LOOP/new_EVE3_from_Fabian/BOR_WAKE_UVRxy_pop100_gen100/running_pfac150_pop100_seed0/run_04023/PH_2D_RANS_kOmegaSSTx
nProcs : 1
sigFpe : Enabling floating point exception trapping (FOAM_SIGFPE).
fileModificationChecking : Monitoring run-time modified files using timeStampMaster
allowSystemOperations : Allowing user-supplied system call operations

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
Create time

Create mesh for time = 0

Reading set description:
    XoR12.9167
    XoR13.17
    XoR13.4167
    XoR13.67
    XoR13.9167
    XoR14.17
    XoR14.4167
    XoR14.67
    XoR14.9167
    XoR15.17
    XoR15.4167
    XoR15.67
    XoR15.9167
    XoR16.17
    XoR16.4167

Time = 0
--> FOAM Warning : 
    From function sampledSets::classifyFields()
    in file sampledSet/sampledSets/sampledSetsGrouping.C at line 109
    Cannot find field file matching R

Time = 2000

End

